import * as cdk from 'aws-cdk-lib/core';
import { Construct } from 'constructs/lib/construct';
import * as bedrockagentcore from 'aws-cdk-lib/aws-bedrockagentcore'
import * as iam from 'aws-cdk-lib/aws-iam'
import { BaseStackProps } from '../types';

export interface AgentCoreRuntimeStackProps extends BaseStackProps {
    imageUri: string
    gatewayUrl: string
}

export class AgentCoreRuntimeStack extends cdk.Stack {
    readonly runtimeRole: iam.Role;
    readonly agentCoreRuntime: bedrockagentcore.CfnRuntime;
    readonly agentCoreRuntimeProdEndpoint: bedrockagentcore.CfnRuntimeEndpoint;
    readonly agentCoreRuntimeDevEndpoint: bedrockagentcore.CfnRuntimeEndpoint;

    constructor(scope: Construct, id: string, props: AgentCoreRuntimeStackProps) {
        super(scope, id, props);

        this.runtimeRole = new iam.Role(this, 'AgentCoreRole', {
            assumedBy: new iam.ServicePrincipal('bedrock-agentcore.amazonaws.com'),
            description: 'IAM role for Bedrock AgentCore Runtime',
        });

        // Add AWS managed policies
        this.runtimeRole.addManagedPolicy(iam.ManagedPolicy.fromAwsManagedPolicyName('BedrockAgentCoreFullAccess'));
        this.runtimeRole.addManagedPolicy(
            iam.ManagedPolicy.fromAwsManagedPolicyName('AmazonBedrockAgentCoreMemoryBedrockModelInferenceExecutionRolePolicy')
        );

        this.agentCoreRuntime = new bedrockagentcore.CfnRuntime(scope, `${props.appName}-AgentRuntime`, {
            agentRuntimeArtifact: {
                containerConfiguration: {
                    containerUri: props.imageUri
                }
            },
            agentRuntimeName: props.appName,
            networkConfiguration: {
                networkMode: "PUBLIC"
            },
            roleArn: this.runtimeRole.roleArn,
            environmentVariables: {
                "gatewayUrl": props.gatewayUrl
            }
        });

        // DEFAULT endpoint always points to newest published version. Optionally, can use these versioned endpoints below
        // https://docs.aws.amazon.com/bedrock-agentcore/latest/devguide/agent-runtime-versioning.html
        this.agentCoreRuntimeProdEndpoint = new bedrockagentcore.CfnRuntimeEndpoint(scope, `${props.appName}-AgentRuntimeProdEndpoint`, {
            agentRuntimeId: this.agentCoreRuntime.attrAgentRuntimeId,
            agentRuntimeVersion: "1",
            name: "PROD"
        });

        this.agentCoreRuntimeDevEndpoint = new bedrockagentcore.CfnRuntimeEndpoint(scope, `${props.appName}-AgentRuntimeProdEndpoint`, {
            agentRuntimeId: this.agentCoreRuntime.attrAgentRuntimeId,
            agentRuntimeVersion: "1",
            name: "DEV"
        });
    }
}