from crewai import Agent, Crew, LLM, Task, Process
from crewai.tools import tool
from bedrock_agentcore.runtime import BedrockAgentCoreApp
from mcp_client.client import get_streamable_http_mcp_client

MODEL_ID="openai/gpt-5"

@tool
def add_numbers(a: int, b: int) -> int:
    """Return the sum of two numbers"""
    return a+b

llm = LLM(model=MODEL_ID)

mcp_adapter = get_streamable_http_mcp_client()

app = BedrockAgentCoreApp()

@app.entrypoint
def invoke(payload):

    with mcp_adapter as tools:
        agent = Agent(
            role="Question Answering Assistant",
            goal="Answer the users questions",
            backstory="Always eager to answer any questions",
            llm=llm,
            tools=[add_numbers] + tools
        )

        task = Task(
            agent=agent,
            description="Answer the users question: {prompt}",
            expected_output="An answer to the users question"
        )

        crew = Crew(
            agents=[agent],
            tasks=[task],
            process=Process.sequential
        )


        prompt = payload.get("prompt", "What is Agentic AI?")

        result = crew.kickoff(inputs={"prompt": prompt})

        return result.raw

if __name__ == "__main__":
    app.run()