import * as cdk from 'aws-cdk-lib/core';
import { Construct } from 'constructs/lib/construct';
import * as bedrockagentcore from 'aws-cdk-lib/aws-bedrockagentcore'
import { BaseStackProps } from '../types';

export interface AgentCoreMemoryStackProps extends BaseStackProps {}

export class AgentCoreMemoryStack extends cdk.Stack {
    readonly agentCoreMemory: bedrockagentcore.CfnMemory;

    constructor(scope: Construct, id: string, props: AgentCoreMemoryStackProps) {
        super(scope, id, props);

        // can take a built in strategy from https://docs.aws.amazon.com/bedrock-agentcore/latest/devguide/built-in-strategies.html
        // const agentCoreMemoryStrategy = {
        //   semanticMemoryStrategy: {
        //        name: 'semanticMemoryStrategy'
        //    }
        //};

        this.agentCoreMemory = new bedrockagentcore.CfnMemory(scope, `${props.appName}-AgentCoreMemory`, {
            name: `${props.appName}-AgentCoreMemory`,
            eventExpiryDuration: 60,
            description: "Memory resource with 60 days event expiry",
            memoryStrategies: [
                // agentCoreMemoryStrategy
            ]
        });
    }
}