import * as cdk from 'aws-cdk-lib/core';
import { Construct } from 'constructs/lib/construct';
import * as bedrockagentcore from 'aws-cdk-lib/aws-bedrockagentcore';
import * as iam from 'aws-cdk-lib/aws-iam';
import * as lambda from 'aws-cdk-lib/aws-lambda';
import { BaseStackProps } from '../types';
import * as path from 'path';

export interface AgentCoreStackProps extends BaseStackProps {
    imageUri: string
}

export class AgentCoreStack extends cdk.Stack {
    readonly agentCoreRuntime: bedrockagentcore.CfnRuntime;
    readonly agentCoreGateway: bedrockagentcore.CfnGateway;
    readonly agentCoreMemory: bedrockagentcore.CfnMemory;
    readonly mcpLambda: lambda.Function;

    constructor(scope: Construct, id: string, props: AgentCoreStackProps) {
        super(scope, id, props);

        /*****************************
        * AgentCore Gateway
        ******************************/

        this.mcpLambda = new lambda.Function(this, `${props.appName}-McpLambda`, {
            runtime: lambda.Runtime.PYTHON_3_12,
            handler: "handler.lambda_handler",
            code: lambda.AssetCode.fromAsset(path.join(__dirname, '../../../mcp/lambda'))
        });

        const agentCoreGatewayRole = new iam.Role(this, `${props.appName}-AgentCoreGatewayRole`, {
            assumedBy: new iam.ServicePrincipal('bedrock-agentcore.amazonaws.com'),
            description: 'IAM role for Bedrock AgentCore Runtime',
        });

        // TODO: might want to scope this policy down
        agentCoreGatewayRole.addManagedPolicy(iam.ManagedPolicy.fromAwsManagedPolicyName('BedrockAgentCoreFullAccess'));
        this.mcpLambda.grantInvoke(agentCoreGatewayRole);

        this.agentCoreGateway = new bedrockagentcore.CfnGateway(this, `${props.appName}-AgentCoreGateway`, {
            authorizerType: "AWS_IAM",
            name: `${props.appName}-AgentCoreGateway`,
            protocolType: "MCP",
            roleArn: agentCoreGatewayRole.roleArn,
        });


        /*****************************
        * AgentCore Runtime
        ******************************/

        const runtimeRole = new iam.Role(this, `${props.appName}-AgentCoreRuntimeRole`, {
            assumedBy: new iam.ServicePrincipal('bedrock-agentcore.amazonaws.com'),
            description: 'IAM role for Bedrock AgentCore Runtime',
        });

        // Add AWS managed policies
        runtimeRole.addManagedPolicy(iam.ManagedPolicy.fromAwsManagedPolicyName('BedrockAgentCoreFullAccess'));
        runtimeRole.addManagedPolicy(
            iam.ManagedPolicy.fromAwsManagedPolicyName('AmazonBedrockAgentCoreMemoryBedrockModelInferenceExecutionRolePolicy')
        );

        this.agentCoreRuntime = new bedrockagentcore.CfnRuntime(this, `${props.appName}-AgentCoreRuntime`, {
            agentRuntimeArtifact: {
                containerConfiguration: {
                    containerUri: props.imageUri
                }
            },
            agentRuntimeName: props.appName,
            networkConfiguration: {
                networkMode: "PUBLIC"
            },
            roleArn: runtimeRole.roleArn,
            environmentVariables: {
                "gatewayUrl": this.agentCoreGateway.attrGatewayUrl
            }
        });

        // DEFAULT endpoint always points to newest published version. Optionally, can use these versioned endpoints below
        // https://docs.aws.amazon.com/bedrock-agentcore/latest/devguide/agent-runtime-versioning.html
        void new bedrockagentcore.CfnRuntimeEndpoint(this, `${props.appName}-AgentCoreRuntimeProdEndpoint`, {
            agentRuntimeId: this.agentCoreRuntime.attrAgentRuntimeId,
            agentRuntimeVersion: "1",
            name: "PROD"
        });

        void new bedrockagentcore.CfnRuntimeEndpoint(this, `${props.appName}-AgentCoreRuntimeDevEndpoint`, {
            agentRuntimeId: this.agentCoreRuntime.attrAgentRuntimeId,
            agentRuntimeVersion: "1",
            name: "DEV"
        });


        /*****************************
        * AgentCore Memory
        ******************************/

        // can take a built in strategy from https://docs.aws.amazon.com/bedrock-agentcore/latest/devguide/built-in-strategies.html
        // const agentCoreMemoryStrategy = {
        //   semanticMemoryStrategy: {
        //        name: 'semanticMemoryStrategy'
        //    }
        //};

        this.agentCoreMemory = new bedrockagentcore.CfnMemory(this, `${props.appName}-AgentCoreMemory`, {
            name: `${props.appName}-AgentCoreMemory`,
            eventExpiryDuration: 60,
            description: "Memory resource with 60 days event expiry",
            memoryStrategies: [
                // agentCoreMemoryStrategy
            ]
        });
    }
}