import * as cdk from 'aws-cdk-lib/core';
import { Construct } from 'constructs/lib/construct';
import * as bedrockagentcore from 'aws-cdk-lib/aws-bedrockagentcore';
import * as iam from 'aws-cdk-lib/aws-iam';
import * as lambda from 'aws-cdk-lib/aws-lambda';
import { BaseStackProps } from '../types';
import * as path from 'path';

export interface AgentCoreGatewayStackProps extends BaseStackProps {}

export class AgentCoreGatewayStack extends cdk.Stack {
    readonly agentCoreGateway: bedrockagentcore.CfnGateway;
    readonly agentCoreGatewayTarget: bedrockagentcore.CfnGatewayTarget;
    readonly agentCoreGatewayRole: iam.Role;
    readonly mcpLambda: lambda.Function;
    readonly url: string;

    constructor(scope: Construct, id: string, props: AgentCoreGatewayStackProps) {
        super(scope, id, props);

        this.mcpLambda = new lambda.Function(scope, id, {
            runtime: lambda.Runtime.PYTHON_3_12,
            handler: "handler.lambda_handler",
            code: lambda.AssetCode.fromAsset(path.join(__dirname, '../../../mcp/lambda'))
        });

        this.agentCoreGatewayRole = new iam.Role(scope, id, {
            assumedBy: new iam.ServicePrincipal('bedrock-agentcore.amazonaws.com'),
            description: 'IAM role for Bedrock AgentCore Runtime',
        });

        // TODO: might want to scope this policy down
        this.agentCoreGatewayRole.addManagedPolicy(iam.ManagedPolicy.fromAwsManagedPolicyName('BedrockAgentCoreFullAccess'));
        this.mcpLambda.grantInvoke(this.agentCoreGatewayRole);

        this.agentCoreGateway = new bedrockagentcore.CfnGateway(scope, id, {
            authorizerType: "AWS_IAM",
            name: `${props.appName}-AgentCoreGateway`,
            protocolType: "MCP",
            roleArn: this.agentCoreGatewayRole.roleArn,
        });

        this.url = this.agentCoreGateway.attrGatewayUrl;
    }
}