name: Slack Issue Notification

on:
  issues:
    types: [opened]

jobs:
  notify-slack:
    runs-on: ubuntu-latest
    steps:
      - name: Send Slack notification
        uses: slackapi/slack-github-action@v2.0.0
        with:
          webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
          payload: |
            {
              "text": "New Issue Created",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*New Issue:* <${{ github.event.issue.html_url }}|#${{ github.event.issue.number }} ${{ github.event.issue.title }}>\n*Repository:* ${{ github.repository }}\n*Author:* ${{ github.event.issue.user.login }}\n*Created:* ${{ github.event.issue.created_at }}\n\n${{ github.event.issue.body }}"
                  }
                }
              ]
            }
